.slider {
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 13, 121);
    background: linear-gradient(90deg, rgba(9, 13, 121, 1) 0%, rgba(27, 29, 124, 1) 39%, rgba(30, 28, 124, 1) 41%, rgba(255, 0, 9, 1) 100%);

    height: 100vh;
}

.image {
    background-color: #fff;
    /* border: 1px solid brown; */
    padding: 10px;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}

#nav {
    position: absolute;
    top: 2%;
    left: 45%;
    right: 45%;
    bottom: 95%;
    padding: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {

    opacity: 0;
    transition-duration: 1s ease;

}

.slide.active {

    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);

}

.img_div {
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.img2 {
    width: 30%;
}

.desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.note {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

h1 {
    font-family: sans-serif;
    font-size: 40px;
    text-decoration: underline solid rgb(68, 68, 255);
}

@media screen and (max-width:1024px) {
    /* .slider{
        width: 80%;
    } */

    .image {
        width: 100%;
        margin: auto;
    }

    .img_div>img {
        width: 30%;
        height: 150px;
    }
}


@media screen and (max-width:600px) {
    .image {
        width: 80%;
        margin: auto;
        height: auto;
    }

    .img_div {
        justify-content: space-around;
        flex-direction: column;
    }

    .img_div>img {
        width: 30%;
        display: flex;
        position: relative;
        left: 30%;
        right: 40%;
    }

    .head {
        font-size: 12px;
    }

    .desc {
        font-size: 10px;
    }

    .note {
        font-size: 10px;

    }
}